

:root {
--color-primary: #2E2F42;
--color-secondary: #434455;
--color-inverted: #FFFFFF;
--color-button: #4D5AE5;
--color-page: #E7E9FC;
--color-hover: #404BBF;
--color-team: #F4F4FD;
--color-social: #31D0AA;
}
 
body {
background-color: var(--color-inverted);
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
color: var(--color-secondary);
}

.list {
list-style: none;
margin: 0;
padding: 0;
}

p,
h1,
h2,
h3,
h4 {
margin-top: 0;
}

img {
object-fit: cover;
}

/*  Верхня головна    */
.header-menu {
gap: 40px;
display: flex;
margin: 0;
padding: 0;
list-style:none;
}

.page-heder{
border-bottom: 1px solid var(--color-page);
background: var(--color-inverted);
display: block;
}

.header-container {
display: flex;
align-items: center;
}

.header-nav {
display: flex;
align-items: center;
flex-grow: 1;
gap: 76px;
}

.logo-first {
font-family: 'Raleway' ,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--color-button);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em
}

.logo-second {
margin-bottom: 24px;
font-family: 'Raleway' ,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--color-primary);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
}

.menu-nav {
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-primary);
text-decoration: none;
list-style: none;
padding: 24px 0;
display: block;
}

.menu-studio {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-hover);
text-decoration: none;
padding: 24px 0;
display: block;
}

.menu-nav:hover{
 color: var(--color-hover);
}    

/*  Container  */
.container {
width: 100%;
max-width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

.box-address {
margin-bottom: 24px;
font-family: 'Roboto',sans-serif;
font-style: normal;
line-height: 1.5;
font-weight: 400;
font-size: 16px;
text-decoration: none;
color: var(--color-secondary);
padding-top: 24px;
display: block;
}

.box-address:hover {
color: var(--color-hover);
}

/*  2 частина з кнопкою   */
.hero-section {
background-color: var(--color-secondary);
background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 188px;
padding-bottom: 188px;
text-align: center;
}

.hero-title {
max-width: 496px;
margin: 0 auto 48px;
text-align: center;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
color: var(--color-inverted);
letter-spacing: 0.02em;
}

.button {
width: 169px;
height: 56px;
font-size: 16px;
line-height:1.5;
border-radius: 4px;
font-weight: 500;
color:  var(--color-inverted);
box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--color-button);
cursor: pointer;
border: none;
font-family: inherit;

}

.button:hover {
background-color: var(--color-hover);
}
 
/*  section  */
.section {
padding-top: 120px;
margin: 0;
}

.section-many-texst{
padding-bottom: 120px;
padding-top: 120px;
margin: 0;
}


/*  3 частина багато тексту  */
.about-text {
flex-basis: calc((100% - 72px) / 4);
}

.section-subtitle {
margin-bottom: 8px;
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.2;
color: var(--color-primary);
}

.section-text {
margin-bottom: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--color-secondary);
} 

.hero-uk {
gap: 24px;
display: flex;
margin: 0;
padding: 0;
list-style: none;
}

.studio {
display: none;
}

.image-svg {
width: 64px;
height: 64px;
}

.social-link {
display: flex;
height: 112px;
background-color: var(--color-team);
border-radius: 4px;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}

/* 4 фото і що ми робимо  */
.picture { 
align-items: center;
display: flex;
gap: 24px;
list-style: none;
padding-left: 0px;
}

.images-comp img {
width: 100%;
height: 100%;
}

.slogan-images {
text-align: center;
margin-bottom: 72px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: var(--color-primary);
}

.images-comp {
flex-basis: calc((100% - 48px) / 3);
display: block;
max-width: 100%;
border: 1px solid var(--color-page);
width: 360px;
height: 300px;
}

/*  5 робочі   */
.team-aside {
margin-bottom: 8px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--color-primary);
}

.content-aside {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;  
line-height: 1.5;  
color: var(--color-secondary);
margin-bottom: 0px;
}

.foto-master {
display: block;
max-width: 100%;
}

.h-second-aside {
text-align: center;
margin: 0 auto 72px;
margin-bottom: 72px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: var(--color-primary);
}

.masters-list{
display: flex;
gap: 24px;
margin: 0;
padding: 0;
}

.page-aside {
padding-top: 120px;
padding-bottom: 120px;
background-color:var(--color-team);
}

.master {
text-align: center;
padding: 32px 16px 32px 16px;

}

.box-aside {
flex-basis: calc((100% - 72px) / 4);
background: var(--color-inverted);
list-style-type: none;
border-radius:0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
0 1px 1px 0 rgba(46, 47, 66, 0.16),
 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/*  социал сети   */
.social-list {
margin-top: 8px;
padding-left: 0;
list-style: none;
display: flex;
gap: 24px;
justify-content: center;
}

.social-box {
width: 40px;
height: 40px;
}

.social-images {
width: 16px;
height: 16px;
fill: var(--color-team);
}

.link-soc {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background-color: var(--color-button);
border-radius: 50%;
}
 
.link-soc:hover {
background-color: var(--color-hover);
}


/*  customers  */

.name-box {
text-align: center;
margin-bottom: 72px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: var(--color-primary);
}

.list-customer {
list-style: none;
display: flex;
justify-content: center;
gap: 24px;
margin: 0;
padding: 0;
}

.box-custom {
height: 88px;
flex-basis: calc((100% - 120px) / 6);
}

.link-cust {
align-items: center;
justify-content: center;
display: flex;
width: 100%;
height: 100%;
border: 1px solid #8E8F99;
border-radius: 4px;
}

.link-cust:hover {
border-color: var(--color-hover);
}

.imag-cust {
width: 104px;
height: 56px;
fill: #AFB1B8;
}

.link-cust:hover .imag-cust{
fill: var(--color-hover);
}

.section-meni-text {
padding-top: 120px;
margin: 0;
padding-bottom: 120px;
}
    
/*  6  кінець головної  */

.container.footer {
display: flex;
align-items: flex-start;
gap: 120px;
}


.page-footer {
padding-top: 100px;
padding-bottom: 100px;
 background-color: var(--color-primary);
}

.logo-third {
margin-bottom: 16px;
font-family: 'Raleway' ,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
color: var(--color-team);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
}

.footer-slogan {
margin-top: 17.5px;
margin-bottom: 0px;
color: var(--color-page);
}

.future-title{
max-width: 264px;
}

.social-word {
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--color-inverted);
margin-top: 0px;
}


.box-media {
margin-top: 0;
margin-bottom: 0;
padding-left: 0px;
list-style: none;
display: flex;
gap: 16px;
justify-content: center;
}

.social-media {
width: 40px;
height: 40px;
}

.imag-media {
width: 24px;
height: 24px;
fill: var(--color-team);
}

.link-media {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
}

.link-media:hover {
background-color: var(--color-social);
}

/*  Portfolio початок   */
.site-nav-portfolio {
padding: 24px 0;
margin-bottom: 24px;
font-family: 'Roboto',sans-serif;
font-style: normal;
text-decoration: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-hover);
text-decoration: none;
list-style: none;  

}

.site-nav {
padding: 24px 0;
margin-bottom: 24px;
font-family: 'Roboto',sans-serif;
font-style: normal;
text-decoration: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-primary);
text-decoration: none;
list-style: none;  
}

.site-nav:hover {
color: var(--color-hover);
}

.portfolio-main {
padding-top: 96px;
padding-bottom: 120px;
}

.portfolio-content{
margin-bottom: 72px;
gap: 24px;
list-style: none;
display: flex;  
justify-content: center;
padding-left: 0px;
margin-top: 0px;
}

.button-port-all {
font-family: inherit;
padding: 12px 24px;
background-color: var(--color-hover);
color: var(--color-inverted);
cursor: pointer;
border-radius: 4px;
outline: none;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
 0 2px 1px 0 rgba(0, 0, 0, 0.08), 
0 3px 1px 0 rgba(0, 0, 0, 0.1);
border: 1px solid var(--color-page);
border-color: var(--color-hover);
}

.button-port{
padding: 12px 24px;
background-color: var(--color-team);
color: var(--color-button);
cursor: pointer;
border: 1px solid var(--color-page);
font-family: inherit;
border-radius: 4px;
}

.button-port:hover {
background-color: var(--color-hover);
color: var(--color-inverted);
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
 0 2px 1px 0 rgba(0, 0, 0, 0.08), 
0 3px 1px 0 rgba(0, 0, 0, 0.1);
border-radius: 4px;
border-color: var(--color-hover);
}

/*  2 секція  */
.box-desc-port {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--color-secondary);
}

.box-content-port{
margin-bottom: 8px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--color-primary);
}

.picture-port {
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
margin-right: -24px;
margin-bottom: -48px;
}

.box-aside-port{
margin-bottom: 48px;
margin-right: 24px;
box-sizing: border-box;
list-style: none;
}

.box-aside-port:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16), 
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.hero-port {
display: none;
}

.program {
text-decoration: none;
display: block;
}
 
.program-pad {
padding: 32px 16px 32px 16px;
border: 1px solid var(--color-page);
}

.foto-program {
display: block;
max-width: 100%;
}

/* Выезжает */
.master-description {
position: absolute;
background-color: var(--color-button);
color: var(--color-team);
max-width: 360px;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
transition: transform 250ms;
}

.program:hover .master-description {
transform: translateY(0);
}

.master-images {
position: relative;
overflow: hidden;
}

.text {
margin-left: 32px;
margin-top: 40px;
max-width: 296px;
}